.lesson-wrap{
  width: 1200px;
  margin:2.5rem auto;
  box-sizing: border-box;
}
.lesson-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  row-gap:80px;
  li{
    margin-bottom: 3rem;
  }
  li a{
    font-size: 18px;
    &:hover{
      .title{
        text-decoration: underline;
      }
    }
    .title{
      font-size: 1.8rem;
    }
    .desc{
      font-size: 1.4rem;
    }
  }
}
/*Deatil page*/
.movie{
  width: 650px;
}
.link-back{
  text-align: right;
  margin-bottom: .625rem;
}
.title-area{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.lesson-title{
  font-size: 1.875rem;
  color: #000;
}
.lesson-artist{
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 2.5rem;
}
.player{
  margin-bottom: 2.5rem;
}
.control{
  margin:1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-info{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  .next-btn{
    font-size: 14px;
    margin: 10px 0;
  }
}
.bottom-btn{
   display: flex;
   justify-content: flex-end;
}
.loop-btn.active{
  color: red;
}
.next-btn{
  border:1px solid #ccc;
  color: #000;
  &.disabled{
    opacity: 0.4;
  }
}
.quiz-block{
  margin:20px 0;
  display: flex;
  flex-wrap: wrap; 
  gap:10px;
}
.comma-break{
  flex-basis:100%;
  width:100%;
  height:0;
  padding:0;
  margin:0;
}
.quiz-block .splice-cover{
   border-bottom:1px solid #ccc;
}
.quiz-block .splice.blank {
  color: transparent;   /*텍스트만 안 보이게 */
}
.radom-word{
  margin:2.5rem 0;
}
.radom-word .wrong{
  text-decoration: line-through;
}
.radom-word button{
  border:1px solid #ccc; 
  border-radius: 8px;
  padding:5px 10px;
  margin:4px 0;
  margin-right: 10px;
}
.translation{
  margin-top: 20px;
}
.movie .btn{
    border:1px solid #ccc; 
}

.show-en{
  word-break: keep-all;
}

.sort{
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  select{
    padding: 6px;
    font-size: 14px;
  }
}