.header{
  margin-bottom: 40px;
}
.header ul {
  list-style: none;
  display: flex;
  gap: 1.4rem;
  padding: 0;
}

.header li a {
  text-decoration: none;
  color: #333;
  font-size: 1.4rem;
  font-weight: bold;
}

.header li a:hover {
  color: #007bff;
}