.header ul {
  display: flex;
  gap: 1.4rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1.5rem;
}

.header ul li a {
  font-weight: 500;
  color: var(--c-bold-gray);
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}

.header ul li a:hover {
  color: var(--c-blue);
}

.header ul li a.active {
  color: var(--c-blue-strong);
  font-weight: 700;
}
